<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlm.storecollab.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.tlm.storecollab.model.entity.Picture">
            <id property="id" column="id" />
            <result property="url" column="url" />
            <result property="originalUrl" column="originalUrl" />
            <result property="name" column="name" />
            <result property="introduction" column="introduction" />
            <result property="category" column="category" />
            <result property="tags" column="tags" />
            <result property="picSize" column="picSize" />
            <result property="picWidth" column="picWidth" />
            <result property="picHeight" column="picHeight" />
            <result property="picScale" column="picScale" />
            <result property="picFormat" column="picFormat" />
            <result property="userId" column="userId" />
            <result property="picAve" column="picAve" />
            <result property="spaceId" column="spaceId" />
            <result property="createTime" column="createTime" />
            <result property="editTime" column="editTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
            <result property="viewStatus" column="viewStatus" />
            <result property="viewTime" column="viewTime" />
            <result property="viewer" column="viewer" />
            <result property="viewMessage" column="viewMessage" />
    </resultMap>

    <sql id="Base_Column_List">
        id,url,originalUrl,name,introduction,category,tags,
        picSize,picWidth,picHeight,picScale,picFormat,picAve,
        userId,spaceId,createTime,editTime,updateTime,isDelete,
        viewStatus,viewTime,viewer,viewMessage
    </sql>
</mapper>
