<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlm.storecollab.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="com.tlm.storecollab.model.entity.Space">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spaceName" column="spaceName" jdbcType="VARCHAR"/>
            <result property="spaceLevel" column="spaceLevel" jdbcType="TINYINT"/>
            <result property="spaceType" column="spaceType" jdbcType="TINYINT"/>
            <result property="spaceSizeUsed" column="spaceSizeUsed" jdbcType="BIGINT"/>
            <result property="spaceMaxSize" column="spaceMaxSize" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spaceName,spaceLevel,spaceType,
        spaceSizeUsed,spaceMaxSize,userId,
        createTime,editTime,updateTime,
        isDelete
    </sql>
</mapper>
